
.icon-flags::after{
    content: "";
    position: relative;
    height: 58%;
    width: 1px;
    margin-top: 6px;
    background-color: #ddd;

}
.phone::before{
    content: '';
    position: absolute;
    width: 2px;
    height: 50px;
    background-color: #d9d9d987;
    top: 0;
    margin-left: 50px;
}
.email::before{
     content: '';
    position: absolute;
    width: 2px;
    height: 30px;
    background-color: #d9d9d987;
    top: 0;
    margin-left: 50px;

}