.icon-banner::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 50px;
    background-color: #d9d9d987;
    top: 0;
    margin-left: 20px;
}
.standard-bg{
    background-image: url("../src/assets/shape-png.png");
    background-position: center left;
    background-repeat: no-repeat;
    background-size: 45% auto;
    padding: 50px 0 50px;
}
.swiper-button-next {
    background-color: #f7f7f7;
    padding: 25px;
    border-radius: 10px;
}
.swiper-button-next::after{
    
    font-size: 28px !important;
    font-weight: bold;
     color: #ff931e;


}
.swiper-button-prev {
    background-color: #f7f7f7;
    padding: 25px;
    border-radius: 10px;
}
.swiper-button-prev::after{
    
    font-size: 28px !important;
    font-weight: bold;
     color: #ff931e;


}
.bg-review{
    background-image: url("../src/assets/background-image.webp") OP;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}

@media only screen and (max-width:768px){
    .icon-banner::before {
    content: '';
    position: absolute;
    width: 0px !important;
    height: 0px !important;
    background-color: #f3f3f3 !important;
    top: 0;
    margin-left: 20px;
}

.standard-bg{
    background-image: none;
}

}
@media only screen and (max-width:1024px){
    .icon-banner::before {
    content: '';
    position: absolute;
    width: 2px !important;
    height: 50px !important;
    background-color: #d9d9d987;
    top: 20px;
    left: -20px;
    margin-left: 20px;
}

}